<% was_validated = sweetness.errors.any? %>

<%= form_with(model: sweetness, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% sweetness_type_class = "form-control" %>
    <% sweetness_type_was_invalid = sweetness.errors.include?(:sweetness_type) %>

    <% if was_validated %>
      <% if sweetness_type_was_invalid %>
        <% sweetness_type_class << " is-invalid" %>
      <% else %>
        <% sweetness_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sweetness_type %>
    <%= f.text_field :sweetness_type, class: sweetness_type_class, placeholder: "Enter sweetness type" %>
    <% if sweetness_type_was_invalid %>
      <% sweetness.errors.full_messages_for(:sweetness_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
